# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.png

.vscode
/tt-metal_matmul_1corels/CMakeCache.txt
/tt-metal_matmul_1core/CMakeFiles
/tt-metal_matmul_1core/build
/tt-metal_matmul_1core/_deps
/tt-metal_matmul_1core/.cpmcache
/tt-metal_matmul_1core/CPM_modules

/tt-metal_axpy_1core/CMakeCache.txt
/tt-metal_axpy_1core/CMakeFiles
/tt-metal_axpy_1core/build
/tt-metal_axpy_1core/_deps
/tt-metal_axpy_1core/.cpmcache
/tt-metal_axpy_1core/CPM_modules

/tt-metal_matmul_64cores/CMakeCache.txt
/tt-metal_matmul_64cores/CMakeFiles
/tt-metal_matmul_64cores/build
/tt-metal_matmul_64cores/_deps
/tt-metal_matmul_64cores/.cpmcache
/tt-metal_matmul_64cores/CPM_modules

/tt-metal_axpy_1cores/CMakeCache.txt
/tt-metal_axpy_1cores/CMakeFiles
/tt-metal_axpy_1cores/build
/tt-metal_axpy_1cores/_deps
/tt-metal_axpy_1cores/.cpmcache
/tt-metal_axpy_1cores/CPM_modules

/tt-metal_copy_1core/CMakeCache.txt
/tt-metal_copy_1core/CMakeFiles
/tt-metal_copy_1core/build
/tt-metal_copy_1core/_deps
/tt-metal_copy_1core/.cpmcache
/tt-metal_copy_1core/CPM_modules
