# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/tt-metal_compilation_template/CMakeCache.txt
/tt-metal_compilation_template/CMakeFiles
/tt-metal_compilation_template/build
/tt-metal_compilation_template/_deps
/tt-metal_compilation_template/.cpmcache
/tt-metal_compilation_template/CPM_modules