# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.png

.vscode
/tt-metal_stencil/CMakeCache.txt
/tt-metal_stencil/CMakeFiles
/tt-metal_stencil/build
/tt-metal_stencil/_deps
/tt-metal_stencil/.cpmcache
/tt-metal_stencil/CPM_modules